modules = ["python-3.12", "web", "nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["cacert", "freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pgadmin4", "tcl", "tk", "zlib", "glib", "nss", "nspr", "atk", "at-spi2-atk", "cups", "dbus", "expat", "libdrm", "pango", "cairo", "gtk3", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "xorg.libxshmfence", "libgbm", "libxkbcommon", "alsa-lib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"


[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py test core && CI=1 npm run test:e2e --prefix frontend"

[workflows.workflow.metadata]
isValidation = true

[[ports]]
localPort = 4173
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "start.sh"]

[userenv]

[userenv.shared]
EMAIL_HOST = "smtp.zoho.com"
EMAIL_PORT = "465"
EMAIL_USE_TLS = "False"
EMAIL_USE_SSL = "True"
EMAIL_HOST_USER = "info@torchbearersmission.org"
DEFAULT_FROM_EMAIL = "Torchbearers Mission <info@torchbearersmission.org>"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000
