<div class="modal fade" id="volunteerThanksModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">

      <div class="modal-header border-0">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <h3 class="text-success mb-3">🎉 Thank You!</h3>
        <p class="fs-5">
          Thank you for your willingness to volunteer with<br>
          <strong>Torchbearers Mission Incorporated</strong>.
        </p>
        <p>
          We will contact you shortly with next steps.
        </p>
      </div>

      <div class="modal-footer border-0">
        <button class="btn btn-success w-100" data-bs-dismiss="modal">
          Close
        </button>
      </div>

    </div>
  </div>
</div>
